<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=BBH+Bogle:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link href=@Assets["_content/MudBlazor/MudBlazor.min.css"] rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body style="font-family: 'Barlow', Arial, sans-serif;">
    <style>
        h1, h2, h3, h4, h5, h6 {
            font-family: 'BBH Bogle', Arial, sans-serif !important;
        }
        body, p, span, div, td, th, li, ul, ol {
            font-family: 'Barlow', Arial, sans-serif;
        }
    </style>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src=@Assets["_content/MudBlazor/MudBlazor.min.js"]></script>
    <script src="userAuth.js"></script>
</body>

</html>
