<MudDialog>
    <DialogContent>
        <div style="text-align: center;">
            <img src="@ImageUrl" alt="Preview" style="max-width: 100%; max-height: 70vh; border-radius: 8px;" />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Close" Color="Color.Primary">Close</MudButton>
    </DialogActions>
</MudDialog>